<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Main2#3</title>
<link rel="stylesheet" href="subindex.css">
<style>
</style>
</head>
<body>
<header>

    <h1>当社について</h1>
    <p>弊社は「幻獣と人間の幸せな共生社会の実現」を経営理念に掲げ、</p>
    <p>お客様とCCA(コンパニオンクリエイティッドアニマル)の幸せを願い、従業員一同日々努力しております。</p>
    <p>私たちは、CCAを取り巻く課題や問題に対しても一つ一つ向き合いながら、</p>
    <p>幻獣と人間の幸せな共生の為に、全員一丸となって取り組んでまいります。</p>

    <img >


    <h1>お客様へのサポート</h1>
    <p>幻獣たちとのペットライフはお迎えいただいてからが本番です。</p>
    <p>初めての不安を幸せに変えるため、弊社が全力でサポートいたします。</p>
    <p>・幻獣たちそれぞれの生体や捕獲に至った経緯を記した「幻獣攻略マニュアル」をプレゼント！</p>
    <p>・24時間365日電話でも健康相談・緊急相談サービス</p>

    <h1>健康診断の実施</h1>
    <p>幻獣はとても強い生き物ですが、環境の変化に敏感な個体も多く、本来飼育には適しておりません。</p>
    <p>ですが、専門知識がある私たちが定期的に健康診断を行わせていただくことで</p>
    <p>元気に暮らしていけるようにサポートさせていただきます。</p>
    
</header>


</body>