.Logo {
  background: url("../../../images/Rectangle 40.png");
  width: 1440px;
  height: 628px;
  border-radius: 0px;
  background-position: top;
  padding-top: 1px;
  background-repeat: no-repeat;
}
.Logo p1 {
  color: #7C3232;
  font-size: 32px;
}
.Logo p2 {
  /*padding: 189px;*/
  color: #7C3232;
  font-style: normal;
  font-family: "ZCOOL XiaoWei";
  font-size: 250px;
  font-weight: 400;
  line-height: 250px;
  letter-spacing: 0em;
  display: flex;
  /*justify-content: center;*/
}
#h {
  padding-top: 160px;
  padding-left: 208px;
}
/*#Tel {
  display: inline;
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  font-family: "Zen Old Mincho";
  font-style: normal;
  font-size: 20px;
  line-height: 29px;

   color: #863030; 
}
#Tel、 h2 {
  width: 235px;
  height: 30px;
  padding-top: 571px;
  padding-left: 934px;
  margin-top: 571px;
  padding-left: 934px;
}*/
p3 {
  color: #7C3232;
  /*padding-top: 600px;*/
  padding-left: 934px;
  font-size: 30px;
}
p4 {
  color: #7C3232;
  font-size: 35px;
}
#Tel {
  padding-top: 20px;
}
#line {
  border-top: 1px solid #442C1F;
  border-bottom: 1px solid #4B3939;
  width: 1439px;
  height: 1%;
}
nav {
  clear: both;
  margin-bottom: 8px;
}
nav ul, nav li {
  margin: -1px;
  padding: 0;
}
nav li, nav a {
  display: block;
}
nav ul {
  /*border: 1px solid #ccc;*/
  overflow: hidden;
}
nav li {
  float: left;
  width: 360px;
  height: 67px;
  min-height: 67.08px;
  border-right: 1px solid #ccc;
}
nav a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-family: "Yuji Syuku";
  line-height: 32px;
  font-size: 24px;
  font-weight: 400px;
}
nav a:link, nav a:visited {
  color: #ffffff;
  background-color: #863030;
} 
nav a:hover {
  color: #ffffff;
  background-color: #442D2D;
}
