.back {
    background-color: #863030;
    border: 1px solid #212B3A;
    width: 1440px;
    height: 444px;
}
/* #img1 {
    background: url("");
}  */
 #search{
    border: 3px solid rgba(193, 158, 97, 0.5);
    width: 1017px;
    height: 326px;
    margin-top: 60px;
    margin-left: 259px;
}
#text1 {
    width: 705px;
    height: 46px;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 159px;
}
#text2 {
    width: 269px;
    height: 46px;
    font-size: 25px;
    margin-top: 33px;
    margin-left: 159px;
}
#text3 {
    width: 241px;
    height: 44px;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 52px;
}
#text4 {
    width: 549px;
    height: 44px;
    font-size: 25px;
    margin-top: 34px;
    margin-left: 159px;
}
#sb {
    background-color: #2D1515;
    width: 117px;
    height: 40px;
    font-size: 20px;
    color: #EFFFAD;
    margin-top: 40px;
    margin-left: 412px;
    border: 1px solid #F9FFAF;

}
#sb:hover {
    background-color: #C45D5D;
    border: 1px solid #FEFFF9;
    color: #ffffff;

}