.back {
  background-color: #863030;
  border: 1px solid #212b3a;
  width: 100%;
  height: 444px;
}
#search {
  border: 3px solid rgba(193, 158, 97, 0.5);
  width: 1017px;
  height: 326px;
  margin-top: 60px;
  margin-left: 259px;
}
#text1 {
  width: 705px;
  height: 46px;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 159px;
}
#text2 {
  width: 269px;
  height: 46px;
  font-size: 25px;
  margin-top: 33px;
  margin-left: 159px;
}
#text3 {
  width: 241px;
  height: 44px;
  font-size: 25px;
  margin-top: 35px;
  margin-left: 52px;
}
#text4 {
  width: 549px;
  height: 44px;
  font-size: 25px;
  margin-top: 34px;
  margin-left: 159px;
}
#sb {
  background-color: #2d1515;
  width: 117px;
  height: 40px;
  font-size: 20px;
  color: #efffad;
  margin-top: 40px;
  margin-left: 412px;
  border: 1px solid #f9ffaf;
}
#sb:hover {
  background-color: #c45d5d;
  border: 1px solid #fefff9;
  color: #ffffff;
}
